*{
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: PlusJakartaSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Cantarell, "Helvetica Neue", Ubuntu, sans-serif;
}
.nav-bar{
    background-image: url(../img/back.photo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    height: 400px;
    padding-top: 25px;
    font-weight: 600;
}
.pexels img{
    width: 130px;
    padding-right: 1090px;
    padding-top: 10px;
}
.nav-bar-more img{
    width: 20px;
}
.nav-bar-new{
    justify-content: space-between;
    color: white;
}
.nav-bar-new:hover{
    color: #c5c5c5;
}
.nav-bar-list{
    justify-content: space-between;
    color: white;
}
.nav-bar-list:hover{
    color: #c5c5c5;
}
.nav-bar-item{
    justify-content: space-between;
    color: white;
}
.nav-bar-item:hover{
    color: #c5c5c5;
}
.nav-bar-more{
    justify-content: space-between;
    color: white;
}
.nav-bar-more:hover{
    color: #c5c5c5;
}
.btn{
    border-radius: 5px;
    box-sizing: content-box;
}
.search{
    color: #fff;
    font-size: larger;
    position: absolute;
    bottom: 550px;
    left: 570px;
}
input{
    font-size: large;
    width: 600px;
    height: 35px;
}
label{
    justify-content: center;
    text-align: end;
}
.activities{
    color: #535151;
    display: flex;
    gap: 20px;
    padding-left: 650px;
    padding-top: 30px;
    padding-bottom: 80px;
    font-weight: 600;
}
.home{
    border-radius: 5px;
}
.home:hover{
    background-color: black;
    color: #fff;
}
.vids{
    border-radius: 5px;
}
.vids:hover{
    background-color: black;
    color: #fff;
}
.lead{
    border-radius: 5px;
}
.lead:hover{
    background-color: black;
    color: #fff;
}
.work{
    border-radius: 5px;
}
.work:hover{
    background-color: black;
    color: #fff;
}
.stock{
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 30px;
    padding-left: 30px;
}
.parentdiv{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    width: 100px;
}
.parentdiv img{
    display: grid;
    width: 500px;
}
.grid-item img{
    padding: 10px;
    gap:10px;
    object-fit: contain;
    grid-auto-flow: dense;
}